@using TravelTripProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>@item.BlogID</td>
        <td>@item.Baslik</td>
        <td><a href="/Admin/BlogSil/@item.BlogID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/BlogGetir/@item.BlogID" class="btn btn-primary">Güncelle</a></td>
        <td><a href="#" class="btn btn-default">Detaylar</a></td>
    </tr>
    }
</table>
<a href="/Admin/YeniBlog/" class="btn btn-success">Yeni Blog</a>

